<br><br>
<h5 class='center orange-text'>Авторизация</h5>
<br><br>
<div class='row'>
    <h5></h5>


<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>





    <div class='row'>
      <div class='input-field col s12'>
     
          <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>
      </div>
    </div>

    <div class='row'>
      <div class='input-field col s12'>
  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>
      </div>
    </div>

  <div class='row'>
    <div class='input-field col s12'>
  <div><%= f.submit  "Вход", class:  " col s12  btn deep-purple accent-3 hoverable"%></div>
  <div><br />    </div>

      <div></div>

  </div>

<%= render "devise/shared/links" %>


    <div class="col s12">&nbsp;</div>
<% end %>



</div>
