

    <footer class="page-footer deep-purple darken-3">
      <div class="container  ">
        <div class="row  ">
 

        <div class="col l6 s12 ">
          <h5 class="white-text">Element</h5>
          <p>
              127560, г.Москва, ул.Коненкова д.12 кв.194 <br>
            Телефон:  +7 (925) 824-4577 </br>
            Электронная почта: pay@elementpay.ru
          </p>
      </div>
      
      <div class="col l6 s12 right-align">
          <h5 class="white-text">Element</h5>
          
              <ul>


                <li>
                  <span  class="white-text">
                      <%= link_to 'Account', '/static/account', class: "white-text" %>

                  </span>
                </li>
                  <li>
                    <%= link_to 'Оставить Чаевые', '/tips/new/1' %>
                </li>
                <li>
                    <%= link_to 'Оценить обслуживание', '/reviews/new' %>
                </li>
                <li>
                    <%= link_to 'Конфиденциальность', '/static/privacy' %>

                </li>
                <li>
                    <%= link_to 'Соглашение', '/static/offer' %>

                </li>
              </ul>

      </div>
        </div>
  
        </div>
      </div>
      <div class="footer-copyright deep-purple  darken-4">
        <div class="container">
        Версия <a class="orange-text text-lighten-3" href="#">v0.4.0</a>

        <br>

        </div>


      </div>
    </footer>